---
title: Baron Greyfallow

isCharacter: true
isMinorCharacter: true
---
<p>
    Baron Greyfallow is the Lord of the Eastern Marshes, Hudumbran-by-Thiren, and the Wydeconte Hills. He also holds the titles of Viscount of Montrone and Lord of Trellistone. His colors are green and grey.
</p>

<%= partial(:quote, :locals => { :quote => "Baron Greyfallow's name opened many doors that would ordinarily be closed to the Edema Ruh.", :quotee => "Kote" }) %>

<p>
    He is the patron of <%= link_to 'Arliden', '/characters/arliden/' %>'s troupe of <%= link_to 'Edema Ruh', '/groups/edema-ruh/' %>, <i>Lord Greyfallow's Men</i>.
</p>
<p>
    Baron Greyfallow's name opened many doors for Arliden's troupe. In addition to protection, his patronage provided them the ability to play in any public place within his domain.
    In return for his patronage, the troupe was required to spend two <%= link_to 'span', '/terms/span/' %> a year at his household, entertaining him and his guests.
</p>
<p>
    <%= link_to 'Kvothe', '/characters/kvothe/' %> described the Baron as a gracious host, who would invite the troupe to sit at his own table and gave the members gifts. He'd once given Kvothe a regiment of tiny lead soldiers. Arliden, however, couldn't tolerate the idea of being at the baron's beck and call
</p>