---
title: Kvothe
summary: Kvothe is the main character in the Kingkiller Chronicle.
image: https://pre00.deviantart.net/6121/th/pre/i/2018/009/c/d/kvothe_by_morgana0anagrom-dbzfxsp.jpg

ethnicity: Edema Ruh
eyeColor: Green
fullName: Kvothe, son of Arliden
gender: Male
hairColor: Red

isCharacter: true
---

<p>
    Kvothe is the main character in the Kingkiller Chronicle. He is the son of <%= link_to 'Arliden', '/characters/arliden/' %> and <%= link_to 'Laurian', '/characters/laurian/' %> and is a member of the Edema Ruh.
</p>

<%= partial(:quote, :locals => { :quote => "He called himself Kote. He had chosen the name carefully when he came to this place.", :quotee => "Kote" }) %>

<p>
    Kvothe is described to have pale skin and red hair, the intensity of which changes throughout the narrative but is often compared to a flame.
    He is exceptionally clever and sharp-tounged. He has a very short temper and is often reckless and thoughtless.
</p>

<h2 id="Early-life">Early life & Education</h2>
<p>
    Kvothe was born to Arliden and Laurian, the leaders of a troupe of Edema Ruh under the patronage of <%= link_to 'Baron Greyfallow', '/characters/baron-greyfallow/' %>.
    His early education was spotty and eclectic, however, it mainly focused on creative skills such acting and singing.
</p>
<p>
    Kvothe first met <%= link_to 'Abenthy', '/characters/abenthy/' %> in a small town the troupe was performing in. Kvothe witnesses an exchange between the town's mayor and Abenthy, the mayor being aggressive towards Abenthy resulting in Abenthy summoning a small storm to frighten the man off.
    Kvothe is immediately fascinated by the man and becomes determined to learn how to call the wind. Kvothe's father meets with Abenthy and invites him to join their troupe. Abenthy would be in charge of special lighting, sound effects and creating makeup for the actors that was not composed of arsenic and other toxic materials.
</p>
<p>
    Abenthy quickly becomes Kvothe's favorite member of the troupe and the two become inseparable. Abenthy teaches Kvothe topics such as Astrology, Chemistry, and Mathematics. He also touches on more advanced topics such as Sympathy.
</p>
<p>
    During one of Abenthy's lessons Kvothe brings up the time that Abenthy called the wind. Abenthy asked Kvothe how he thought it was done and without thinking Kvothe binds the air outside to the air inside his lungs. He blows the air out of his mouth and a slight breeze comes, however, when he tries to take a breath in he quickly learns that he isn't able to inhale.
    He begins to asphyxiate and frantically gets Abenthy's attention. Abenthy watches Kvothe begin to turn blue and quickly calls the name of the wind, summoning a powerful wind. Kvothe falls unconscious and wakes shortly after. Abenthy berates him for acting so foolishly and after consideration Kvothe realizes his error, his lungs would have needed to be the size of a bellows to be able to move that much air.
</p>
<p>
    After his failed attempt at calling the wind Abenthy decides that teaching Kvothe Sympathy was a mistake and does not continue furthering his knowledge of the subject.
</p>

<h2>The Chandrian and the discovery of his troupe</h2>
<p>
    After Abenthy leaves the troupe Kvothe's mother, Laurian, sends Kvothe to collect wild berries in the forest near camp. Kvothe returns a short while later to find the smoldering remains of his troupe's caravan. He finds the bodies of his troupe scattered around the site. 
</p>

<h2>Wandering</h2>
<p>
    After his encounter with the Chandrian Kvothe wanders for an indeterminable amount of time, initially using his foraging skills to find nuts and berries to survive.
</p>