<!DOCTYPE html>
<html lang="en-US">
	<%= partial "head" %>
	<body class="content-template-default single single-content single-format-standard wikilogy-theme wpb-js-composer js-comp-ver-5.5.2 vc_responsive">
		<div class="wikilogy-wrapper boxed-false" id="general-wrapper">
			<div class="site-content">
				<%= partial "header" %>
				<%= partial "mobile-header" %>
				<div class="site-sub-content">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar" style="transform: none;">
								<div class="post-content" style="transform: none;">
									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="feature-box column-3">
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://pre00.deviantart.net/6121/th/pre/i/2018/009/c/d/kvothe_by_morgana0anagrom-dbzfxsp.jpg);">
																	<a href="/category/characters/" title="Characters of the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Characters</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://img00.deviantart.net/7f6f/i/2017/254/a/8/kingkiller__severen_by_izzu_shi-dbn45bt.png);">
																	<a href="/category/locations/" title="Locations of the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Locations</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://i.pinimg.com/originals/a9/81/a2/a981a2b64e785be44c2f7729a75d2110.jpg);">
																	<a href="/category/objects/" title="Objects of the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Objects</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://cdn.shopify.com/s/files/1/0493/0297/products/Ivare-Enim-Euge_Gradient_Folder_Black-_1_---design_600x.png);">
																	<a href="/category/groups/" title="Groups of the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Groups</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://tobiasmastgrave.files.wordpress.com/2015/06/luring-the-draccus.png);">
																	<a href="/category/creatures/" title="Creatures of the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Creatures</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="item">
															<div class="post-list-styles post-list-style-5">
																<div class="content" style="background-image:url(https://vignette.wikia.nocookie.net/nameofthewind/images/c/c9/Wheel_Leather_1_grande.jpeg);">
																	<a href="/category/terms/" title="Terms used in the Kingkiller Chronicle"></a>
																	<div class="inner">
																		<div class="title">Terms</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
												</div>
											</div>
										</div>
									</div>
									<div class="vc_row wpb_row vc_row-fluid" style="transform: none;">
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<%= yield %>
													<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
												</div>
											</div>
										</div>
										<div class="fixed-sidebar wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-xs-12" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
											<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
												<div class="vc_column-inner">
													<div class="wpb_wrapper">
														<div class="wpb_widgetised_column wpb_content_element">
															<div class="wpb_wrapper">
																<div id="wikilogy_social_counter_widget-2" class="general-sidebar-wrap widget-box wikilogy-social-counter-widget">
																	<div class="widget-title">Stay Connected</div>
																	<div class="wikilogy-widget-inner">
																		<ul class="wikilogy-social wikilogy-social-a">
																			<li>
																				<a href="https://discordapp.com/invite/5qERnsV" class="discord" target="'_blank'">
																					<i class="fab fa-discord"></i> 
																					<span> Join our Discord server! </span> 
																				</a>
																			</li>
																			<li>
																				<a href="https://www.facebook.com/thecrockery" class="facebook" target="'_blank'">
																					<i class="fab fa-facebook-f"></i> 
																					<span> Like us on Facebook! </span> 
																				</a>
																			</li>
																			<li>
																				<a href="https://twitter.com/thecrockeryorg" class="twitter" target="'_blank'">
																					<i class="fab fa-twitter"></i> 
																					<span> Follow us on Twitter! </span> 
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
														<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%= partial "footer" %>
			</div>
		</div>
		<%= javascript_include_tag "jquery" %>
		<%= javascript_include_tag "visualcomposer" %>
	</body>
</html>