---
title: Minor Characters
summary: A list of minor characters in the Kingkiller Chronicle
---
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar" style="transform: none;">
    	<div class="post-content" style="transform: none;">
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://pre00.deviantart.net/6121/th/pre/i/2018/009/c/d/kvothe_by_morgana0anagrom-dbzfxsp.jpg);">
    										<a href="/category/characters/" title="Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">All Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://tobiasmastgrave.files.wordpress.com/2015/06/luring-the-draccus.png);">
    										<a href="/category/characters/major-characters/" title="Major Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Major Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://vignette.wikia.nocookie.net/nameofthewind/images/c/c9/Wheel_Leather_1_grande.jpeg);">
    										<a href="/category/characters/minor-characters/" title="Minor Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Minor Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="A">A</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Aaron", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Abenthy", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Aethe", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Alder Whin", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Aleph", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Alleg", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Amlia", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Anisat", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Anker", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Arliden", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Arthur Herma", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Arwyl", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="B">B</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Baron Greyfallow", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Baron Jakis", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Basil", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Ben Bentley", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Benjamin", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Bil", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Brandeur", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Brann", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Brean", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Bredon", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Brenden", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="C">C</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Caleb", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Cammar", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Carceret", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Carter", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Caudicus", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Caverin", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Celean", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Cinder", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Crazy Martin", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Cyphus", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="D">D</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Daeln", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Dagon", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Dedan", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Dennais Threpe", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Deoch", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Derrik", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Drenn", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="E">E</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Ellie Anwater", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Elxa Dal", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Emberlee Ashton", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Encanis", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Ensal", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Erlus", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="F">F</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Fela", :imageURL => data.characterImages.fela }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Felurian", :imageURL => data.characterImages.felurian }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Fenton", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Finol", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="G">G</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Gel", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Gerrek", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Graham", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Gran", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Gregan the Lesser", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="H">H</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Haliax", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Hap Bentley", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Hespe", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Hetera", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="I">I</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Iax", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Illien", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Inyssa", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="J">J</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Jacob Walker", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jake (farmer)", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jamison", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jane", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jarret", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jasom Hemme", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jason Waterson", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jaxim", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jenna", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Jessom Williams", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Josn", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="K">K</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Kale Alard", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Katie Miller", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Kostrel", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Krin Walker", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="L">L</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Laclith", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lanre", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Larel", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Laren", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lasrel", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Laurel", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Laurian", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lerand Alveron", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lily", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Loni", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lorren", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Losine", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Lyra", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="M">M</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Magwyn", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mandrag", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Marea", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Marie", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Marten", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mary Bentley", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Master Ash", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mayor Anwater", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mayor Lant", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Meluan Lackless", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Meradin", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mola", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mr. Walker", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Mrs. Walker", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="N">N</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Naden", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Nalto", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Nathan", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Netalia Lackless", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="O">O</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Old Cob", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Oren Velciter", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Otto", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="P">P</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Penny", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Penthe", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Perial", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Pete", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Pike", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Princess Icing Bun", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Puppet", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="R">R</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Remmen", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Reta", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Rethe", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Rian", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Riem", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Rike Williams", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Roderic Calanthis", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Roent", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="S">S</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Selitos", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Sephran", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Seth (farmer)", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Seth (townsfolk)", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Shandi", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Shehyn", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Shep", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Sir Savien Traliard", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Skarpi", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Skoivan Schiemmelpfenneg", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Sleat", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Sovoy", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Stanchion", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Stapes", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Syl Bentley", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="T">T</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Taborlin the Great", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tam (boy)", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tam (mercenary)", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tanee", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Teccam", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tehlu", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tempi", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Teren", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "The Cthaeh", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "The High King of Modeg", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Tim", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Trapis", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Trip", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="U">U</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Uresh", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="V">V</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Vashet", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Verainia Greyflock", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Viari", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Viette Lant", :imageURL => "" }) %>
    							<%= partial('category/characters/item', :locals => { :title => "Vin", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="W">W</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/characters/item', :locals => { :title => "Widow Creel", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>