---
title: Major Characters
summary: A list of major characters in the Kingkiller Chronicle
---
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar" style="transform: none;">
    	<div class="post-content" style="transform: none;">
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://pre00.deviantart.net/6121/th/pre/i/2018/009/c/d/kvothe_by_morgana0anagrom-dbzfxsp.jpg);">
    										<a href="/category/characters/" title="Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">All Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://tobiasmastgrave.files.wordpress.com/2015/06/luring-the-draccus.png);">
    										<a href="/category/characters/major-characters/" title="Major Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Major Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url(https://vignette.wikia.nocookie.net/nameofthewind/images/c/c9/Wheel_Leather_1_grande.jpeg);">
    										<a href="/category/characters/minor-characters/" title="Minor Characters of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Minor Characters</div>
    										</div>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/item', :locals => { :title => "Ambrose Jakis", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Auri", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Bast", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Denna", :imageURL => data.characterImages.denna }) %>
    							<%= partial('category/item', :locals => { :title => "Devan Lochees", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Devi", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Elodin", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Kilvin", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Kvothe", :imageURL => data.characterImages.kvothe }) %>
    							<%= partial('category/item', :locals => { :title => "Manet", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Simmon", :imageURL => "" }) %>
    							<%= partial('category/item', :locals => { :title => "Wilem", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>