<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= current_page.data.title || "The Crockery" %> - The Crockery, a Kingkiller Chronicle Wiki</title>
	<%= stylesheet_link_tag "bootstrap" %>
	<%= stylesheet_link_tag "discord" %>
	<%= stylesheet_link_tag "site" %>
	<%= stylesheet_link_tag "visualcomposer" %>
	<style>
		body {
		font-family: Merriweather;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.mobile-menu,
		.demo-language-selector ul,
		.custom-file-control::before,
		.blog-tabs .tab-list,
		.blog-slider .item .content .title,
		.user-box .bottom-links,
		.user-box .title,
		.footer.footer-style2 .footer-menu,
		.wikilogy-social-counter-widget ul,
		.history-table .title,
		.gt-user-list ul li .title,
		.vc_chart,
		.content-slider .title,
		.letters-list,
		.category-list.style-3,
		.category-list.style-2,
		.category-list.style-1,
		.feature-box .item .hover .content .title,
		.content-index ul,
		.content-table .item .title,
		.wikilogy-toolbar,
		.comment-list .comment-info,
		.comment-list .comment-author,
		.post-author .author-name,
		.post-content-footer .post-pages,
		.post-content-footer .post-share,
		.content-categories,
		.post-tags,
		.post-pagination,
		.post-read-more.style-1,
		.post-information.style-1,
		.post-list-styles .title,
		.widget_rss ul li cite,
		.widget_rss .rss-date,
		.widget_rss ul li a.rsswidget,
		.widget_tag_cloud .tagcloud,
		.widget_nav_menu ul,
		.widget_recent_comments ul,
		.widget_meta ul,
		.widget_pages ul,
		.widget_categories ul,
		.widget_archive ul,
		.widget_recent_entries ul,
		button,
		input[type="submit"],
		.header.header-style-5 .mainmenu .navbar,
		.header.header-style-3 .mainmenu .navbar,
		.header.header-style-2 .mainmenu .navbar,
		.header.header-style-1 .mainmenu .navbar,
		.header-sidebar .content .header-sidebar-menu,
		.header .elements .header-sidebar .content .header-sidebar-menu,
		.header .elements .header-sidebar .content .close-button,
		.header .elements .item .login-links,
		.wikilogy-title .shadow-title,
		.wikilogy-title .title,
		.widget-box .widget-title,
		.header-sidebar .content .close-button,
		.mobile-header-sidebar .header-user-box a,
		.mobile-header-sidebar .header-user-box a:visited {
		font-family: Oswald;
		}
	</style>
	<meta name="description" content="<%= current_page.data.summary || "The Crockery - A Kingkiller Wiki" %>" />
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>