---
title: All Locations
summary: A list of locations in the Kingkiller Chronicle
---
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fullwidthsidebar" style="transform: none;">
    	<div class="post-content" style="transform: none;">
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url();">
    										<a href="/category/locations/" title="Locations of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">All Locations</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url();">
    										<a href="/category/locations/major-locations/" title="Major Locations of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Major Locations</div>
    										</div>
    									</div>
    								</div>
    							</div>
    							<div class="item">
    								<div class="post-list-styles post-list-style-5">
    									<div class="content" style="background-image:url();">
    										<a href="/category/locations/minor-locations/" title="Minor Locations of the Kingkiller Chronicle"></a>
    										<div class="inner">
    											<div class="title">Minor Locations</div>
    										</div>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="A">A</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Ademre", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Archives", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Artificery", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Arueh", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Aryen", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Aturan Empire", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="B">B</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Baedn-Bryt", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Borrorill", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="C">C</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Caluptena", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Ceald", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Centhe Sea", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Commonwealth", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Crosson", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="D">D</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Drossen Tor", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="E">E</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Eld", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Ergen Empire", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Evesdown", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Eolian", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="F">F</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "The Fae", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Feant", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Four Corners of Civilization", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="G">G</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Great Stone Road", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="H">H</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Haert", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Half-Mast", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Hallowfell", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Haven", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Hillside", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Horse and Four", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="I">I</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Imre", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="J">J</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Junpui", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="L">L</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Levinshir", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="M">M</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Mains", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Marrow", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Mauthen Farm", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Mews", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Modeg", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Myr Tariniel", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="N">N</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Newarre", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="P">P</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Pennysworth Inn", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="R">R</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Ralien", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Rannish", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Reft", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Renere", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="S">S</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Seaward Square", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Severen", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Small Kingdoms", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Stonebridge", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Stormwal Mountains", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="T">T</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Tarbean", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Temerant", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The Broken Binding", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Tinuë", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Trebon", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="U">U</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "The Underthing", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "The University", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="V">V</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Vintas", :imageURL => "" }) %>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="W">W</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Waterside", :imageURL => "" }) %>
    							<%= partial('category/locations/item', :locals => { :title => "Waystone Inn", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<h2 class="category-header" id="Y">Y</h2>
    		<div class="vc_row wpb_row vc_row-fluid">
    			<div class="wpb_column vc_column_container vc_col-sm-12">
    				<div class="vc_column-inner">
    					<div class="wpb_wrapper">
    						<div class="feature-box column-3">
    							<%= partial('category/locations/item', :locals => { :title => "Yll", :imageURL => "" }) %>
    						</div>
    						<div class="vc_empty_space" style="height: 3.846rem"><span class="vc_empty_space_inner"></span></div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>